.descript-hide {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.descript-post-code, .descript-post-location, .descript-post-seat, .descript-post-order {
    visibility: hidden;
    position: absolute;
}