body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navtop {
    overflow: hidden;
    background-color: #333;
}

.home {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    background-color: #FFF;
}

.home-deactive {
    float: left;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    background-color: #333;
}

.home img {
    height: 17px;
}

.home-deactive img {
    height: 17px;
}

.menu {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu:hover {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #FFF1;
}

.menu-active {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: white;
    color: #333;
}

main {
    margin: -10 20;
    font-family: sans-serif;
    width: 960px;
    margin: auto;
    font-size: 6mm;
}

@media screen and (max-width: 1024px) {
    main {
        margin: auto;
        font-family: sans-serif;
        width: 95%;
    }
}